/* Style for tribue page */ 
* {
    margin: 5px;
    padding: 5px;
}

html {
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-color: antiquewhite;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;

}   

h2 {
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    color: black;
    text-align: center;
    margin-top: 0px;
}

section {
    width: 100%;
}

#grid {
    display: grid;
   /* grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;*/
   }

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#image {
    height: 400px;
    width: 300px;
    float: left;
    padding-top: 20px;
}

.tribute-info {
    display: inline;
    text-align: left;
    font-size: 110%;
}

.milestone {
    margin-left: 15px;
}

#tribute-link {
    margin-left: 5px;
}